body {
  background: #e7cccc;
}

.about {
  background: #ede8dc;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
strong {
  color: #626f47;
}

h1 {
  font-family: "Playwrite GB S", cursive;
  font-weight: 400;
}

input {
  background: #ede8dc !important;
  color: #626f47 !important;
  border: 2px solid #626f47;
  border-radius: 5px;
  width: 100%;
}

.hint {
  font-size: 11px;
  margin-top: 5px;
  padding-left: 10px;
}

.photos {
  border-radius: 5px;
  margin: 0px 0 15px 0;
}
